<section id="banner">
    <div class="inner">

        <header>
            <h2>Den Private Administration</h2>
        </header>
        <p>Vi ønsker at være en professionel samarbejdspartner der er kendetegnet ved et højt serviceniveauniveau og fleksibilitet som tilbyder produkter af høj kvalitet</p>

    </div>

</section>