<section class="wrapper style1 container special">
    <div class="row">
        <div class="col-4 col-12-narrower">
            <a class="featured-link" href="/venteliste">
                <section>
                    <span class="icon solid featured fa-list-alt"></span>
                    <header>
                        <h3>Venteliste Administration</h3>
                    </header>
                    <p>Vi ønsker at løfte de administrative opgaver knyttet til ventelisten ud af huset og dermed skabe
                        ro og frigive tid til pædagogisk arbejde</p>
                </section>
            </a>
        </div>
        <div class="col-4 col-12-narrower">
            <a class="featured-link" href="/rekrutteringskursus">
                <section>
                    <span class="icon solid featured fa-user-graduate"></span>
                    <header>
                        <h3>Rekrutteringskursus</h3>
                    </header>
                    <p>Formålet med kurset er hjælpe Jer med at tiltrække og ansætte de rigtige personer, i et marked
                        der er presset og hvor efterspørgslen på kvalificeret personale stiger</p>
                </section>
            </a>
        </div>
        <div class="col-4 col-12-narrower">
            <a class="featured-link" href="/rekrutterings-assistance">
                <section>
                    <span class="icon solid featured fa-handshake"></span>
                    <header>
                        <h3>Rekrutterings assistance</h3>
                    </header>
                    <p>Vi tilbyder sparring med den/de ansættelsesansvarlige i hele eller dele af
                        rekrutteringsprocessen</p>
                </section>
            </a>
        </div>
    </div>
</section>