<section class="wrapper style1 container special">
    <div class="row">
        <div class="col-4 col-12-narrower">
            <a class="featured-link" href="/venteliste">
                <section>
                    <span class="icon solid featured fa-list-alt"></span>
                    <header>
                        <h3>{{ box1title }}</h3>
                    </header>
                    <p>{{ box1text }}</p>
                </section>
            </a>
        </div>
        <div class="col-4 col-12-narrower">
            <a class="featured-link" href="/rekrutteringskursus">
                <section>
                    <span class="icon solid featured fa-user-graduate"></span>
                    <header>
                        <h3>{{ box2title }}</h3>
                    </header>
                    <p>{{ box2text }}</p>
                </section>
            </a>
        </div>
        <div class="col-4 col-12-narrower">
            <a class="featured-link" href="/rekrutterings-assistance">
                <section>
                    <span class="icon solid featured fa-handshake"></span>
                    <header>
                        <h3>{{ box3title}}</h3>
                    </header>
                    <p>{{ box3text }}</p>
                </section>
            </a>
        </div>
    </div>
</section>