<section class="wrapper special container medium">

  <!-- Content -->
  <div class="content">
    <form name="contact" method="POST" netlify>
      <div class="row gtr-50">
        <div class="col-6 col-12-mobile">
          <label for="name">Navn</label>
          <input type="text" name="name" id="name" autocomplete="name" placeholder="Dit navn" title="Skriv venligst dit navn" required>
        </div>
        <div class="col-6 col-12-mobile">
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" autocomplete="email" placeholder="Skriv venligst din E-mail" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
        </div>
        <div class="col-12">
          <label for="phone">Telefon</label>
          <input type="text" name="phone" id="phone" placeholder="Telefon" />
        </div>
        <div class="col-12">
          <label for="message">Besked</label>
          <textarea name="message" id="message" placeholder="Skriv din besked her" rows="7" required></textarea>
        </div>
        <div class="col-12">
          <ul class="buttons">
            <li><input type="submit" class="special" value="Send Besked" /></li>
          </ul>
        </div>
      </div>
    </form>
  </div>

</section>
