<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <link rel="stylesheet" href="/_includes/assets/css/main.css">
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
