---
layout: layouts/base.njk
section: contact
---
<article id="main">
    <header class="special container">
        <span class="icon solid fa-envelope"></span>
        {{ layoutContent | safe }}
    </header>
    {% include "components/form.njk" %}
</article>
